<div class="container">
  <table class="table table-dark table-striped table-hover">
    <thead>
      <th>Code</th>
      <th>Name</th>
      <th>Count</th>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries" (click)="select(country.country_db)" class="clickable">
        <td>{{country.country_map.flag}} {{country.country_db.name}}</td>
        <td>{{country.country_map.name}}</td>
        <td>{{country.stationcount}}</td>
      </tr>
    </tbody>
  </table>
</div>
